aiohttp==3.7.4.post0
aiohttp-cors==0.7.0
aiohttp-retry==2.4.5
aioredis==1.3.1
apispec==4.3.0
apispec-webframeworks==0.5.2
appdirs==1.4.4
async-timeout==3.0.1
atpublic==2.3
attrs==21.2.0
blessings==1.7
boto3==1.21.14
botocore==1.24.14
brotlipy==0.7.0
cachetools==4.2.2
certifi==2021.10.8
cffi==1.14.6
chardet==4.0.0
charset-normalizer==2.0.6
click==8.0.1
colorama==0.4.4
colorful==0.5.4
commonmark==0.9.1
configobj==5.0.6
coverage==5.5
cryptography==3.4.7
Cython==0.29.24
datasets==1.12.1
dictdiffer==0.9.0
dill==0.3.4
diskcache==5.2.1
distro==1.6.0
dpath==2.0.5
dulwich==0.20.25
dvc==2.7.4
filelock==3.0.12
Flask==1.1.2
Flask-Cors==3.0.10
flask-marshmallow==0.14.0
flask-swagger-ui==3.36.0
flatten-dict==0.4.2
flufl.lock==3.2
fsspec==2021.8.1
ftfy==6.0.3
funcy==1.16
future==0.18.2
gitdb==4.0.7
GitPython==3.1.24
google-api-core==1.25.1
google-auth==1.33.0
googleapis-common-protos==1.53.0
gpustat==0.6.0
grandalf==0.6
grpcio==1.36.1
hiredis==1.1.0
huggingface-hub==0.0.17
idna==2.10
importlib-metadata==4.8.1
itsdangerous==2.0.1
Jinja2==3.0.3
jmespath==0.10.0
joblib==1.0.1
jsonschema==3.2.0
logzero==1.6.3
mailchecker==4.0.11
MarkupSafe==2.0.1
marshmallow==3.10.0
mkl-fft==1.3.0
mkl-random==1.2.2
mkl-service==2.4.0
msgpack==1.0.2
multidict==5.1.0
multiprocess==0.70.12.2
nanotime==0.5.2
networkx==2.6.3
nltk==3.6.5
numpy==1.20.3
nvidia-ml-py3==7.352.0
olefile==0.46
opencensus==0.7.13
opencensus-context==0.1.2
packaging==21.0
pandas==1.3.1
pathspec==0.8.1
phonenumbers==8.12.31
Pillow==8.3.1
pip==21.0.1
ply==3.11
prometheus-client==0.11.0
protobuf==3.16.0
psutil==5.8.0
pyarrow==4.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pydantic==1.8.2
pydot==1.4.2
pygit2==1.6.1
Pygments==2.10.0
pygtrie==2.4.2
pyOpenSSL==20.0.1
pyparsing==2.4.7
pyrsistent==0.18.0
PySocks==1.7.1
python-benedict==0.24.2
python-dateutil==2.8.2
python-fsutil==0.5.0
python-slugify==5.0.2
pytz==2021.1
PyYAML==6.0
ray==1.4.0
redis==3.5.3
regex==2021.8.3
requests==2.25.1
rich==10.10.0
rouge-metric==1.0.1
rsa==4.7.2
ruamel.yaml==0.17.16
ruamel.yaml.clib==0.2.6
s3transfer==0.5.2
sacremoses==0.0.43
sentencepiece==0.1.95
setproctitle==1.1.10
setuptools==58.0.4
shortuuid==1.0.1
shtab==1.4.1
six==1.16.0
smmap==4.0.0
tabulate==0.8.9
tensorboardX==2.2
text-unidecode==1.3
tokenizers==0.10.3
toml==0.10.2
torch==1.10.0.dev20210922
torchaudio==0.10.0.dev20210922
torchvision==0.11.0.dev20210922
tqdm==4.62.3
transformers==4.10.2
typing-extensions==3.10.0.2
urllib3==1.26.6
voluptuous==0.12.1
wcwidth==0.2.5
Werkzeug==2.0.3
wheel==0.37.0
xmltodict==0.12.0
xxhash==2.0.2
yarl==1.6.3
zc.lockfile==2.0
zipp==3.5.0
