Flask==2.0.3
Flask-Cors==3.0.10
flask-marshmallow==0.14.0
flask-swagger-ui==3.36.0
apispec==4.3.0
apispec-webframeworks==0.5.2
logzero==1.6.3
marshmallow==3.10.0
requests==2.25.1
pyyaml==6.0
boto3==1.21.1
tqdm==4.62.3
